[Unit]
Description=Coroot
Documentation=https://docs.coroot.com
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
#---
# Limit CPU to 15% and Memory to 256MB
CPUQuota=15%
MemoryMax=256M
#---

# Enable IP accounting to track bandwidth
IPAccounting=yes
Type=exec
EnvironmentFile=-/etc/default/%N
EnvironmentFile=-/etc/sysconfig/%N
EnvironmentFile=-/etc/systemd/system/coroot.service.env
KillMode=process
Delegate=yes
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStart=/usr/local/bin/coroot --data-dir=/var/lib/coroot